.mobileNav {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #fff;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 1.5em;

  .container {
    display: flex;
    position: relative;

    .icon {
      color: black;
      cursor: pointer;
      z-index: 99;
      transition: all 250ms ease-in-out;
    }

    .button {
      z-index: 99;
      cursor: pointer;
      position: absolute;
      right: 0;
      margin: 20px 5px 0 0;
    }
  }
}
