.faq {
  width: 500px;
  margin: 0 auto;
  transform: translateY(115px);
  -ms-transform: translateY(115px);
  font-family: Texturina;

  .item {
    margin-bottom: 35px;

    h3 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.5rem;
      padding-bottom: 10px;

      a {
        color: black;
        text-decoration: underline;
        &:hover {
          color: lime;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .faq {
    width: 90%;
    height: 100%;
    transform: translateY(85px);
    -ms-transform: translateY(85px);

    .item {
      margin-bottom: 25px;
    }
  }
}
