.faq {
  width: 500px;
  margin: 0 auto;
  transform: translateY(115px);
  -ms-transform: translateY(115px);
  font-family: Texturina;

  .item {
    margin-bottom: 35px;

    h3 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 900px) {
  .faq {
    width: 95%;
    transform: translateY(65px);
    -ms-transform: translateY(65px);
  }
}
