.landing {
  height: 100%;
  margin: 0 auto;
  z-index: -2;

  .hero {
    position: relative;
    height: 720px;
    width: 100%;
    -webkit-transform: translateY(120px);
    transform: translateY(120px);

    .video {
      display: block;
      max-width: 1000px;
      width: 1000px;
      margin: 0 auto;
      width: 90%;
    }

    .logo {
      display: inline-block;
      position: absolute;
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 40%;
      margin-top: 150px;
    }
  }

  .copy {
    max-width: 600px;
    margin: 120px auto 150px auto;
    text-align: center;

    p {
      margin-bottom: 20px;
      font-size: 2.1rem;
      font-family: Texturina;
      line-height: 1.2;
    }
  }

  .scroll-horizontal {
    height: 500px !important;
    width: 100% !important;

    .scrollImage {
      width: 350px;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 980px) {
  .directory {
    width: 100%;
    height: 50%;
  }
}
