.landing {
  height: 100%;
  max-width: 1350px;
  width: 1350px;
  margin: 0 auto;
  z-index: -2;

  .hero {
    position: relative;
    height: 100%;
    width: 100%;

    .video {
      margin: 60px 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-width: 1000px;
      width: 90%;
    }

    .logo {
      display: inline-block;
      position: absolute;
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 40%;
    }
  }

  .copy {
    max-width: 600px;
    -webkit-transform: translateY(120px);
    transform: translateY(120px);
    margin: 0 auto;
    text-align: center;

    p {
      margin-bottom: 20px;
      font-size: 2.1rem;
      font-family: Texturina;
      line-height: 1.2;
    }
  }
}

@media only screen and (max-width: 980px) {
  .directory {
    width: 100%;
    height: 50%;
  }
}
