.order {
  width: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  img {
    display: block;
    height: 80px;
    object-fit: contain;
  }

  h1,
  h3 {
    font-size: 4rem;
  }

  .total {
    float: right;
    margin-top: 20px;

    p {
      float: right;
      font-size: 2.5rem;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .order {
    width: 90%;
    margin: 0;
    position: relative;
    top: auto;
    left: auto;
    -ms-transform: translateY(85px);
    transform: translateY(85px);

    h1 {
      font-size: 4rem;
      color: lime;
      text-align: center;
      margin: 0 auto 20px 0;
    }

    th {
      font-size: 1.5rem !important;
    }

    td {
      font-size: 1.3rem !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .order {
    h3 {
      font-size: 2.5rem;
    }

    .total {
      p {
        font-size: 2rem;
      }
    }
  }
}
