.productResults {
  position: relative;

  .filter {
    position: fixed;
    width: 100%;
    height: 200px;
    z-index: 1;
    line-height: 1;
  
    .wrap {
      display: flex;
      width: 10rem;
      justify-content: space-between;
      margin: 0 auto;
  
      text-align: center;
  
      p {
        text-transform: uppercase;
  
        a {
          color: white;
          mix-blend-mode: difference;

          &:hover {
            color: lime;
          }
        }
      }
    }
  }
}

.products {
  display: block;
  width: 100%;
  padding: 0;
  margin: 2rem 0;

  .productResults {
    display: block;
    margin: 3rem -10px 0;
  }
}

.product {
  width: 33.333333333333333%;
  margin: 0 auto 2rem;
  padding: 0 10px;

  .thumb {
    display: block;
    width: 100%;

    img {
      display: block;
      width: 100%;
      margin: 0;
    }
  }

  .details {
    display: block;
    width: 100%;
    padding: 1rem 0;
    margin: 0 auto;

    ul, ul li {
      padding: 0;
      margin: 0;
    }

    ul {
      li {
        display: block;
        width: 100%;
        list-style-type: none;
        text-align: left;
        margin: 0 0 .5rem;

        a {
          color: black;
        }

        .name {
          font-size: 2.2rem;
          line-height: 1.2;
          font-weight: 400;
        }

        .price {
          font-size: 1.6rem;
          line-height: 1;
          font-weight: 400;
        }

        .addToCart {
          margin: 2rem 0 0 0;
        }
      }
    }

  }
}

@media only screen and (max-width: 980px) {
  .product {
    width: 100%;
  }
}
