.productResults {
  position: relative;

  .filter {
    position: fixed;
    width: 100%;
    z-index: 1;
    margin-top: 30px;
    transform: translateY(6.5rem);

    .wrap {
      display: flex;
      width: 22rem;
      justify-content: space-between;
      margin: 0 auto;
      text-align: center;

      p {
        text-transform: uppercase;
        color: black;

        a {
          color: black;

          &:hover {
            color: lime;
          }
        }
      }
    }
  }

  .noProducts {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .products {
    display: block;
    width: 100%;
    padding: 0;
    margin: 2rem 0;
    transform: translate(0, 115px);

    .product {
      width: 500px;
      height: 500px;
      margin: 0 auto 17rem;
      padding: 0 10px;

      .thumb {
        display: block;
        position: relative;
        width: 100%;
        height: 440px;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
          overflow: hidden;
          margin: 0;
        }

        .inactiveImg {
          filter: saturate(0);
          opacity: 0.5;
        }

        h3 {
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-size: 8rem;
          width: 100%;
          margin: 0;
          padding: 0;
          text-align: center;
        }
      }

      .details {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 1rem 0;
        margin: 0 auto;

        .name,
        .price {
          font-size: 2.2rem;
          line-height: 1.2;
          font-weight: 400;

          a {
            color: black;
          }
        }

        .price {
          color: black;
        }
      }
    }
  }
}

.tilt {
  padding: 3rem;
}

@media only screen and (max-width: 600px) {
  .productResults .products .product {
    width: 95%;
    height: 400px;
    margin: 0 auto 5rem;

    .thumb {
      height: 250px;
      width: 100%;
    }

    .details {
      display: block;
      width: 100%;
      padding: 1rem 0;
      margin: 0 auto;
      text-align: center;

      .name,
      .price {
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 400;

        a {
          color: black;
        }
      }

      .price {
        color: lime;
        margin-top: 10px;
      }
    }
  }
}
