.productCard {
  max-width: 1450px;
  height: 100vh;
  margin: 0 auto 10rem;

  .hero {
    display: block;
    right: 0;
    left: 0;
    width: 45rem;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      overflow: hidden;
      margin: 0;
    }
  }

  .productDetails,
  .buy,
  .hero {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .productDetails,
  .buy {
    width: calc((100% - 45rem) / 2);
    padding: 0 5rem;
    z-index: 3;
  }

  .productDetails {
    left: 0;
    font-family: Texturina;
    font-size: 1.5rem;
    line-height: 1.4;
    height: 30%;

    h1 {
      margin: 0 0 20px 0;
      font-size: 5.3rem;
      font-family: Teko;
    }

    .desc {
      font-size: 1.8rem;
      margin: 0 0 20px 0;
    }

    p {
      list-style-type: none;
      margin: 0 auto 0.5rem;
    }
  }

  .buy {
    right: 0;

    .price {
      font-size: 5.5rem;
    }
  }

  .addToCart {
    max-width: 20rem;
  }

  .inactiveButton {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background: rgb(230, 230, 230);
    padding: 1rem 10px;
    margin: 0 auto;
    border: 0;
    outline: none;
    cursor: pointer;
  }

  .scroll-horizontal {
    z-index: 1;
    position: absolute !important;
    bottom: 0;
    left: 0;
    height: 500px !important;
    width: 100% !important;

    .productImage {
      height: 500px;
      margin-right: 80px;
    }

    .emptySpace {
      height: 100%;
      width: 1200px;
    }
  }
}

.trigger {
  cursor: pointer;

  &:hover {
    color: lime;
  }
}
