.productCard {
  width: 1450px;
  height: 100%;
  margin: 0 auto 10rem;

  .hero {
    display: block;
    right: 0;
    left: 0;
    width: 45rem;
    margin: 0 auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      overflow: hidden;
      margin: 0;
    }
  }

  .productDetails,
  .buy,
  .hero {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .productDetails,
  .buy {
    width: calc((100% - 45rem) / 2);
    padding: 0 5rem;
  }

  .productDetails {
    left: 0;
    font-family: Texturina;
    font-size: 1.5rem;
    line-height: 1.4;

    ul,
    ul li {
      padding: 0;
      margin: 0;
    }

    ul li {
      list-style-type: none;
      margin: 0 auto 1rem;

      h1 {
        margin: 0;
        font-size: 5.3rem;
        font-family: Teko;
      }

      .desc {
        font-size: 2rem;
      }
    }
  }

  .buy {
    right: 0;

    .price {
      font-size: 5.5rem;
    }
  }

  .addToCart {
    max-width: 20rem;
  }

  .inactiveButton {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background: rgb(230, 230, 230);
    padding: 1rem 10px;
    margin: 0 auto;
    border: 0;
    outline: none;
    cursor: pointer;
  }
}

.collapsible {
  cursor: pointer;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  color: lime;
}

/* Style the collapsible content. Note: hidden by default */
.measurements {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
