.btn {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1;
  border: 0;
  outline: none;
  cursor: pointer;
}
