.checkout {
  margin: 2rem auto;
  transform: translateY(100px);

  h1 {
    display: block;
  }

  p {
    text-align: center;
  }

  .checkoutHeader {
    border-bottom: 1px solid black;
  }

  .cart {
    max-width: 100rem;
    margin: 0 auto;

    table {
      width: 100%;
    }
  }

  .items {
    border-bottom: 1px solid black;
  }

  .checkoutHeader,
  .cart {
    width: 100%;
    text-align: left;

    th,
    td {
      width: 22%;
    }
  }

  .cartItem {
    margin: 30px 0;

    td {
      position: relative;
    }

    td img {
      display: block;
      height: 80px;
      object-fit: contain;
    }

    td p {
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .breakdown {
    float: right;
    width: 400px;

    .calculation {
      margin: 20px 0;

      .subtotal,
      .shipping,
      .total {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 3rem;
        padding: 10px 0;
      }

      .total {
        border-top: 1px black solid;
        border-bottom: 1px black solid;
      }
    }
  }

  .cartBtns {
    display: block;
    width: 100%;
  }

  .cartBtn {
    cursor: pointer;
  }

  .cartBtnInactive {
    color: lightgray;
  }
}

@media only screen and (max-width: 980px) {
  .checkoutHeader {
    display: none;
  }

  .cartItem {
    border: 1px solid black;
  }

  .checkout .cart td {
    display: block;
    width: 100%;
  }

  .checkout .cartBtn.remove {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: black;
    color: white;
  }
}
