.header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .headerMain {
    height: 6.5rem;
    width: 100%;

    .wrap {
      position: relative;
      height: 100%;
      max-width: 1350px;
      margin: 0 auto;

      .logo {
        width: 13rem;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);

        img {
          display: block;
          width: 100%;
          margin: 0;
        }
      }

      nav {
        position: absolute;
        top: 50%;
        left: 10px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);

        ul,
        ul li {
          padding: 0;
          margin: 0;
          height: 100%;
        }

        ul {
          text-align: center;

          li {
            display: inline-block;
            margin: 0 1rem 0 0;
            list-style-type: none;

            a {
              font-size: 2rem;
              line-height: 6.5rem;
              vertical-align: middle;
              color: black;
              text-decoration: none;
              text-transform: uppercase;
              cursor: pointer;

              &:hover {
                color: lime;
              }
            }
          }
        }
      }

      .callToActions {
        position: absolute;
        top: 50%;
        right: 0;
        padding-right: 10px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);

        i {
          display: none;
        }

        ul,
        li {
          margin: 0;
          padding: 0;
        }

        ul {
          .cart {
            margin-right: 25px;

            .cartSize {
              position: absolute;
              top: 0;
              padding-left: 2px;
              font-size: 1.4rem;
            }
          }

          li {
            display: inline-block;
            list-style-type: none;

            a,
            span {
              font-size: 2rem;
              line-height: 1;
              color: black;
              text-decoration: none;
              text-transform: uppercase;
              cursor: pointer;

              &:hover {
                color: lime;
              }
            }
          }
        }

        .dropdown {
          position: relative;
          display: inline-block;
          font-size: 2rem;
          cursor: pointer;

          &:hover .dropbtn {
            color: lime;
            -webkit-transition: all 0.4s ease-in-out;
            -moz-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
          }

          .dropbtn {
            color: black;
            text-transform: uppercase;
          }

          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;

            a {
              color: black;
              padding: 14px 0;
              text-decoration: none;
              display: block;

              &:hover {
                color: lime;
              }
            }
          }
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }
      }
    }
  }
}

.mobileMenu {
  display: none;
}

@media only screen and (max-width: 980px) {
  .mobileMenu {
    display: block;
  }

  .header .wrap {
    .callToActions {
      i {
        display: inline-block;
      }

      ul li {
        &.hideOnMobile {
          display: none;
        }

        a,
        span {
          font-size: 0;

          i {
            font-size: 1.8rem;
          }
        }
      }
    }

    .mainMenu {
      display: none;
      position: absolute;
      height: auto;
      top: 100%;
      left: 0;
      z-index: 10;
      background-color: white;
      border-bottom: 1px solid lightgray;

      &.active {
        display: block;
      }

      ul li {
        width: 100%;
        margin: 0;
        border-top: 1px solid lightgray;

        a {
          display: block;
          width: 100%;
          text-align: left;
          padding: 0 10px;
        }
      }
    }
  }
}
