.footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;

  .footerMain {
    height: 6.5rem;
    width: 100%;

    .wrap {
      position: relative;
      display: flex;
      height: 100%;
      max-width: 1350px;

      margin: 0 auto;
      padding: 0 1rem;
      justify-content: space-between;
      font-size: 2rem;
      text-transform: uppercase;

      .info,
      .contact {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .contact {
        right: 0;
        padding-right: 10px;

        .email {
          margin-right: 10px;
        }

        a {
          color: black;

          &:hover {
            color: lime;
          }
        }
      }
    }
  }
}
