.aboutInfo {
  display: block;

  .wrap {
    .body {
      position: absolute;
      right: 0;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 700px;
      padding: 30px;
      padding-right: 60px;
      background-color: rgba(255, 255, 255, 0.7);
      border: 2px solid black;
      color: black;
      font-family: Texturina, Helvetica, sans-serif;

      p {
        font-size: 2rem;
        line-height: 1.2;
        margin: 20px 0;
      }

      a {
        color: black;
        text-decoration: underline;

        &:hover {
          color: lime;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .aboutInfo {
    .wrap {
      .body {
        width: 80%;
        border: none;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .aboutInfo {
    .wrap {
      .body {
        width: 100%;
        position: relative;
        transform: none;
        -ms-transform: none;
        margin-top: 60px;
      }
    }
  }
}
