@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400&family=Texturina:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 10px;
}

#root,
html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App,
.fullHeight {
  height: 100%;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Teko", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}

h1 {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 auto 2rem;
  font-size: 3rem;
  line-height: 3.2rem;
  color: #000000;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: #d3d3d3;
}

h2 {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 auto 2rem;
  font-size: 2.5rem;
  line-height: 2.7rem;
  color: #000000;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: #d3d3d3;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a,
a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main {
  width: 100%;
  height: calc(100% - 6.5rem);
  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}

.pageTitle {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;

  h2 {
    position: absolute;
    top: 50%;
    margin: 0;
    padding: 0;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: lime;
    font-size: 50rem;
    text-align: center;
  }
}

.controlPanel {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 100%;
  padding: 3rem 0 6rem 25rem;
  border-bottom: 1px solid #d3d3d3;

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    z-index: 1;
    border-right: 1px solid #d3d3d3;
  }

  .content {
    padding: 0 10px;
  }
}

.adminLayout {
  height: calc(100% - 6.5rem - 5.8rem - 3.6rem);
}

.dashboardLayout {
  height: calc(100% - 6.5rem - 5.8rem);
}

@media only screen and (max-width: 1350px) {
  .pageTitle {
    h2 {
      font-size: 45rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .pageTitle {
    h2 {
      font-size: 40rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .pageTitle {
    h2 {
      font-size: 35rem;
    }
  }
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 9px;
  }

  .controlPanel {
    padding: 0 10px;

    .sidebar {
      position: relative;
      width: 100%;
      border: none;
      margin-bottom: 2.5rem;
    }
  }
}

@media only screen and (max-width: 900px) {
  .pageTitle {
    display: none;
  }
}
