.orders {
  width: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 900px) {
  .orders {
    width: 90%;

    th {
      font-size: 1.5rem !important;
    }

    td {
      font-size: 1.3rem !important;
    }
  }
}
