.orders {
  width: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 900px) {
  .orders {
    width: 90%;
    position: relative;
    top: auto;
    left: auto;
    -ms-transform: translateY(80px);
    transform: translateY(80px);
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .orders {
    th {
      font-size: 1.5rem !important;
    }

    td {
      font-size: 1.3rem !important;
    }
  }
}
