.formRow {
  input,
  &.checkoutInput select {
    display: block;
    width: 100%;
    padding: 1rem .5rem;
    margin: 1rem auto;
    font-size: 1.5rem;
    line-height: 1;
    text-align: left;
    border: 1px solid black;
  }
}
